# Changes by Stefan Spiss:
#   - Updated package versions and added imgaug

pyyaml
tqdm
numpy
easydict==1.13
scikit-image==0.23.2
scikit-learn==1.5.0
opencv-python
tensorflow
joblib
matplotlib
pandas
albumentations==1.4.7
hydra-core==1.3.2
pytorch-lightning==2.2.5
tabulate
kornia==0.7.2
webdataset
packaging
wldhx.yadisk-direct
imgaug
